* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background: rgb(3, 13, 53);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    color: #f1f1f1;
    text-align: center;
}

h2 {
    font-weight: bold;
    height: 3px;
    background: #f1f1f1;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.board button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #f1f1f1;
}